/* Landscape phonesand down */
/* Landscape phones to portrait tablet */
/* Landscape tablet and landscape ans desktop */
:root {
  --fond-man: url('https://images.unsplash.com/flagged/photo-1553642618-de0381320ff3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80');
  --box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.16);
  --blanc-casse: #fffafa; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  display: flex; }
  @media (max-width: 480px) {
    .wrapper {
      flex-direction: column; } }
  .wrapper .left-box {
    background-image: var(--fond-man);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em; }
    .wrapper .left-box h1 {
      color: white; }
    .wrapper .left-box .presentation {
      background-color: rgba(255, 255, 255, 0.5);
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
      border-radius: 0.2em; }
      .wrapper .left-box .presentation h1 {
        color: white;
        text-align: right; }
  .wrapper .wrapper__item {
    width: 50%;
    height: 100vh; }
    @media (max-width: 480px) {
      .wrapper .wrapper__item {
        width: 100%; } }
  .wrapper footer {
    display: flex;
    justify-content: flex-end; }
    .wrapper footer nav {
      color: white; }
      .wrapper footer nav ul li {
        list-style: none; }
  .wrapper .right-box {
    display: flex;
    flex-direction: column; }
    @media (max-width: 480px) {
      .wrapper .right-box {
        height: auto; } }
    .wrapper .right-box header {
      width: 100%;
      height: 4em;
      padding: 1.3em 0;
      background-color: var(--blanc-casse); }
      .wrapper .right-box header h3 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em; }
    .wrapper .right-box main {
      width: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em; }
      @media (max-width: 480px) {
        .wrapper .right-box main {
          overflow: hidden; } }
      .wrapper .right-box main .blog__content {
        width: 95%;
        border-radius: 0.5em;
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        margin: 10px;
        display: flex; }
        @media (max-width: 480px) {
          .wrapper .right-box main .blog__content {
            flex-direction: column; } }
        .wrapper .right-box main .blog__content h4 {
          font-size: 1.6em;
          font-family: Arial, Helvetica, sans-serif;
          padding: 0.4em 0 0.4em 0; }
          @media (max-width: 480px) {
            .wrapper .right-box main .blog__content h4 {
              text-align: center; } }
        .wrapper .right-box main .blog__content .blog__content__info {
          display: flex;
          flex-direction: column;
          font-family: Arial, Helvetica, sans-serif;
          padding: 0.4em 0; }
          @media (max-width: 480px) {
            .wrapper .right-box main .blog__content .blog__content__info {
              padding: 0 0.4em 0 0.4em; } }
          .wrapper .right-box main .blog__content .blog__content__info .blog__contentr__info__items {
            display: flex; }
        .wrapper .right-box main .blog__content p {
          padding: 0.4em 0.4em 0.4em 0; }
        .wrapper .right-box main .blog__content img {
          width: 200px;
          height: 150px;
          margin-right: 1.2em;
          float: left;
          border-top-left-radius: 0.5em;
          border-bottom-left-radius: 0.5em;
          object-fit: cover; }
          @media (max-width: 480px) {
            .wrapper .right-box main .blog__content img {
              width: 100%;
              border-top-left-radius: 0.5em;
              border-bottom-left-radius: 0;
              border-top-right-radius: 0.5em; } }
        .wrapper .right-box main .blog__content .blog__content__view {
          display: flex;
          justify-content: flex-end; }

.blog {
  display: flex;
  margin-right: 2em;
  padding: 0.3em 0 0.3em 0;
  font-size: 1.2em; }
  @media (max-width: 480px) {
    .blog {
      padding: 0.1em 0 0.1em 0; } }

.icon-eye:before {
  content: "\e9ce"; }
