:root {
  --fond-man: url('https://images.unsplash.com/flagged/photo-1553642618-de0381320ff3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80'); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  display: flex; }
  .wrapper .left-box {
    background-image: var(--fond-man);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em; }
    .wrapper .left-box h1 {
      color: white; }
    .wrapper .left-box .presentation {
      background-color: rgba(255, 255, 255, 0.5);
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
      border-radius: 0.2em; }
      .wrapper .left-box .presentation h1 {
        color: white;
        text-align: right; }
  .wrapper .wrapper__item {
    width: 50%;
    height: 100vh; }
  .wrapper footer {
    display: flex;
    justify-content: flex-end; }
    .wrapper footer nav {
      color: white; }
      .wrapper footer nav ul li {
        list-style: none; }
  .wrapper .right-box {
    display: flex;
    flex-direction: column; }
    .wrapper .right-box header {
      width: 100%;
      height: 4em;
      padding-top: 1.3em;
      background-color: #EDEDED; }
      .wrapper .right-box header h3 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif; }
    .wrapper .right-box main {
      width: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em; }
      .wrapper .right-box main .blog__content {
        width: 95%;
        border-radius: 0.5em;
        border: 1px solid #000;
        margin: 10px;
        padding: 0.5em;
        display: flex;
        flex-direction: column; }
        .wrapper .right-box main .blog__content h4 {
          font-size: 2em;
          font-family: Arial, Helvetica, sans-serif;
          padding: 0.4em; }
        .wrapper .right-box main .blog__content .blog__content__info {
          display: flex;
          border-top: 1px solid #333;
          border-bottom: 1px solid #333;
          font-family: Arial, Helvetica, sans-serif; }
        .wrapper .right-box main .blog__content p {
          padding: 0.5em; }
        .wrapper .right-box main .blog__content img {
          width: 200px;
          height: 150px;
          margin-right: 1.2em;
          float: left;
          background-color: #333; }
        .wrapper .right-box main .blog__content .blog__content__view {
          display: flex;
          justify-content: flex-end; }

.blog {
  margin-right: 2em;
  padding: 0.3em;
  font-size: 1.2em; }
